body {
  font-family: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
}

.centrar {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3 {
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.gold {
  color: rgba(255, 184, 0, 0.83);
  font-weight: bold;
}

.black {
  color: #2b2b2b;
  font-weight: bold;
}

.header {
  padding: 15px 10px;
  background: linear-gradient(270.01deg, rgba(174, 166, 255, 0.85963) 8.27%, #F2E1FF 45.42%, rgba(255, 249, 219, 0) 82.18%);
}

.contenedor-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.contenedor-nav img {
  width: 252px;
  height: 90px;
}

.divItbank {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navBar {
  display: flex;
  gap: 2rem;
}
.navBar a {
  padding: 5px 5px;
  border-radius: 100px;
  background: #FFFFFF;
  box-shadow: -1px 5px 8px 0px rgba(68, 72, 81, 0.3490196078);
}

.hambur {
  cursor: pointer;
}

.popUp-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp {
  position: relative;
  width: 25%;
  /* width: 480px; */
  width: 400px;
  height: 55%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.popUp-close {
  transform: perspective(50px) translateZ(-100px);
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  width: 25px;
  height: 25px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(230, 16, 16);
}

/* Formulario */
.formulario {
  width: 90%;
  padding: 30px 0;
  margin: auto;
  text-align: center;
}

.formulario legend {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
}

.formulario p {
  margin-top: 5px;
  cursor: pointer;
}

.campo {
  margin-bottom: 25px;
}

.imput-text {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(150, 150, 150);
  padding: 15px;
}

.enviar {
  text-align: center;
  margin: 20px 0;
}

.btn {
  border-radius: 6px;
  padding: 11px;
  width: 110px;
  border: none;
  background-color: rgb(255, 181, 43);
  cursor: pointer;
}

.carusel-info {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
.carusel-info div {
  border-radius: 10px;
  padding: 15px;
}
.carusel-info .fondo-azul {
  background: linear-gradient(0deg, rgba(196, 196, 196, 0.3) 0%, rgb(41, 90, 132) 100%);
}
.carusel-info .fondo-dorado {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(72, 52, 0, 0.4) 100%);
}
.carusel-info h3 {
  margin: 0;
}

.section-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  background: #E5E5E5;
  padding: 30px 0;
}

.tarjetas {
  background-color: #fff;
  border-radius: 10px;
  width: 263px;
  height: 367px;
  padding: 15px;
  box-shadow: -14px -16px 5px 0px rgba(19, 110, 196, 0.75);
  text-align: center;
  display: block;
}
.tarjetas * {
  margin-bottom: 3rem;
}

.btn-tarjeta {
  border: 3px solid #ffc52f;
  border-radius: 10px;
  padding: 8px;
  color: #000;
  font-weight: bold;
}

.btn-tarjeta:hover {
  background-color: #fca86b;
  color: #000;
  transition: all 0.4s linear;
}

.footer {
  background: linear-gradient(180deg, #f0f0f0 -1.51%, #cccbf0 31.2%, #7876f0 124.98%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.icono {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.icono img {
  width: 40.27px;
  height: 39px;
}

.itba-img {
  width: 292px;
  height: 126px;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.lateralInfo {
  background-color: #fff;
  position: fixed;
  width: 350px;
  height: 100%;
  top: 0;
  left: -350px;
  transition: all 500ms linear;
  z-index: 1000;
}

.activo {
  left: 0;
  top: 0;
}

.desactivar {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 20px;
  left: 5px;
  margin-top: -19px;
  color: #545454;
  font-size: 27px;
  line-height: 42px;
  cursor: pointer;
  z-index: 1000;
}

.acordionUl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion {
  margin-top: 50px;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.imgPrincipal img {
  height: 644px;
}

@media (max-width: 768px) {
  .imgPrincipal img {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .imgPrincipal img {
    height: 200px;
  }
}
.container-tipoTarje {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 100px;
}
.container-tipoTarje img {
  width: 225.65px;
  height: 141.95px;
}

.tarjeta {
  position: relative;
  background: linear-gradient(180.83deg, #151E6F 13.5%, #DEE0F7 95.64%);
  border-radius: 20px;
  height: 508px;
  width: 368px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarjeta h3 {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}
.tarjeta li {
  font-size: 26px;
  margin: 30px 0;
}
.tarjeta ul {
  margin-left: 10px;
}
.tarjeta .btn-click {
  width: 276px;
  height: 50px;
  border: none;
  border-radius: 47px;
  margin-top: 30px;
  z-index: 1000;
}

.gold {
  background: linear-gradient(180.65deg, #D5DA00 0.56%, rgba(255, 255, 255, 0) 125.16%);
}

.black {
  background: linear-gradient(180deg, #4A4A4A -5.12%, rgba(255, 255, 255, 0) 129.53%);
}

.imgPosition {
  position: absolute;
  transform: rotate(-26.02deg);
  top: 70%;
  left: -50px;
}

.titulo-tarjeta {
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

.fondo-tarjetas {
  background-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
}

.container-fotosSeguros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 30px 0;
  font-family: "Montserrat", sans-serif;
}
.container-fotosSeguros .foto {
  width: 500px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-fotosSeguros figure {
  position: relative;
  overflow: hidden;
  width: 500px;
  border-radius: 6px;
  box-shadow: 0px 15px 20px rgba 0, 0, 0, 0.5;
  cursor: pointer;
}
.container-fotosSeguros img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.container-fotosSeguros .tituloFoto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #929292;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.container-fotosSeguros figure:hover > .tituloFoto {
  opacity: 0.9;
  visibility: visible;
}
.container-fotosSeguros figure:hover > .tituloFoto h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.container-fotosSeguros figure .tituloFoto h3 {
  color: white;
  font-weight: 400px;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
.container-fotosSeguros figure .tituloFoto p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.titulos-fotos {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 59px;
  text-align: center;
  margin-top: 50px;
}
.titulos-fotos .titulo_Seguros {
  margin-bottom: 20px;
}
.titulos-fotos .titulo_subtituloSeguro {
  margin-bottom: 20px;
}

/*# sourceMappingURL=app.css.map */
