//Tabla

.styled-table {
  border-collapse: collapse;
  margin: 50px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 15px 25px;
}

.styled-table td:first-child {
  width: 300px;
  font-weight: bold;
}

.styled-table td:nth-child(2),
td:nth-child(3) {
  width: 200px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.table-derecha {
  text-align: right;
}

// convertor

.convertContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 20px auto;
}

.convert {
  display: flex;
  align-items: center;
  position: relative;
}

.inputDivisas {
  padding: 10px 60px;
  width: 300px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #bbbbbb;
}

.inputDivisas[type="number"]::-webkit-outer-spin-button,
.inputDivisas[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spanDivisas {
  position: absolute;
  top: 12px;
  left: 5px;
}
