.footer {
  background: linear-gradient(180deg, #F0F0F0 -1.51%, #CCCBF0 31.2%, #7876F0 124.98%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.icono {
  display: flex;
  align-items: center;
  gap: 2rem;
  img {
    width: 40.27px;
    height: 39px;
  }
}

.itba-img{
  width: 292px;
height: 126px;
}

.telefono-contacto * {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 768px) {
  .footer :nth-child(2) {
    gap: 0;
  }
  .icono {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-bottom: 2rem;
  }
  .icono:last-child {
    margin: 0;
  }
}
