.footer {
  background: linear-gradient(
    180deg,
    #f0f0f0 -1.51%,
    #cccbf0 31.2%,
    #7876f0 124.98%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.icono {
  display: flex;
  align-items: center;
  gap: 2rem;
  img {
    width: 40.27px;
    height: 39px;
  }
}

.itba-img {
  width: 292px;
  height: 126px;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
