.header {
  padding: 15px 10px;
  background: linear-gradient(
    270.01deg,
    rgba(174, 166, 255, 0.85963) 8.27%,
    #f2e1ff 45.42%,
    rgba(255, 249, 219, 0) 82.18%
  );
}

.contenedor-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  img {
    width: 252px;
    height: 90px;
  }
}

.divItbank {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navBar {
  display: flex;
  gap: 2rem;

  a {
    padding: 5px 5px;
    border-radius: 100px;

    background: #ffffff;
    box-shadow: -1px 5px 8px 0px #44485159;
  }
}

.hambur {
  cursor: pointer;
}
